*{
	margin:0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

/* diseño sección nav*/
#navbar{
	background-color: white;
}

#navbar img{
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* diseño sección hero*/

#hero{
	background-image: url(../img/taxi.jpg);
	color: whitesmoke;
	margin-top: -21px;
	background-repeat: no-repeat;                          
	height: 510px;       
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:30% 95%;
}

#hero input{
	width: 80px;
	border-left: none;
	border-right: none;
	border-top: none;
	height: 0;
}

#recuadro-registro{
	background-color:#f7b617;
	width: 40%;
	position: relative;
	float: right;
	
}

#recuadro-registro h3 img{
	color: whitesmoke;
}

#hero button{
	color: black;
	margin-bottom: 10px;
	margin-left: 10px;
	border-radius: 5px;
	background-color: whitesmoke;
}

/*diseño sección información*/

#info{
	background-color: #f7b617;
	color: whitesmoke;
	font-size: 20px;
}

#parrafo p{
	border-style: right solid white;

}

/*diseño sección conduce*/

#conduce{
	background-image: url(../img/conduce.jpg);
	color: whitesmoke;
	margin-top: -21px;
	background-repeat: no-repeat;                          
	height: 510px;       
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:30% 95%;
}


#recuadro-conductor{
	background-color:black;
	width: 40%;
	position: relative;
	float: right;
	opacity: 0.7;
}


#conduce button{
	color: whitesmoke;
	margin-bottom: 10px;
	margin-left: 30px;
	border-radius: 5px;
	border-style: none;
	background-color: #f7b617;
	height: 40px;
	width: 220px;
}

#conduce h1{
	margin-top: 85px;
}

/*diseño sección tarifas*/

#tarifas{
	background-color: #f7b617;
	color: whitesmoke;
	font-size: 18px;
	height: 400px;
}

#tarifas img{
	width: 3%;
	color: white;
	margin-left: 10px;
}

#tarifas button{
	color: black;
	width: 160px;
}

#tarifas input{
	background-color: #f7b617;
	color: white;
	width: 250px;
	margin-bottom: 10px;
}

#mapa{
	margin-top: 20px;
	height: 350px;
	border: 2px solid white;
}


